<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/notiflix-aio-3.2.6.min.js"></script>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="d-flex">
            <span id="useremail" class="text-white me-3 mt-2">username</span>
            <a href="/logout" class="btn btn-danger me-3">Logout</a>
        </div>
    </nav>

    <script src="/js/staff_dashboard.js"></script>
</body>
</html>